{
    "plugins": [
        [
            "module-resolver",
            {
                "alias": {
                    "~": "./src"
                    //  dan den src
                    // vd import App from '~/App'
                }
            }
        ]
    ]
}
