.wrapper {
    font-family: Tahoma;
    min-width: 100px;
    padding: 9px 16px;
    border-radius: 9px;
    font-size: 1.6rem;
    font-weight: 700;
    background-color: var(--while);
    border: 1px solid transparent;
    user-select: none;
    + .wrapper {
        margin-left: 8px;
    }

    &.disabled {
        opacity: 0.6;
        pointer-events: none;
    }
}
.icon + .title,
.title + .icon {
    margin-left: 8px;
}
.icon {
    display: inline-block;
    width: 24px;
    text-align: center;
}
.rounded {
    border-radius: 999px;

    box-shadow: 0 2px 8px rgba(22, 24, 0, 0.2);
    &:hover {
        box-shadow: 0 2px 8px rgba(22, 24, 0, 0.4);
        background-color: rgba(24, 24, 35, 0.03);
    }
}
.primary {
    box-shadow: none;
    background-color: var(--primary);
    color: var(--while);
    border-color: var(--primary);
    &:hover {
        background-color: #bc2626;
        cursor: pointer;
    }
}
.small {
    height: 50px;
    min-width: 44px;
    padding: 1px 25px;
}
.large {
    min-width: 112px;
    padding: 16px 40px;
}
.outline {
    color: var(--primary);
    border-color: currentColor;
    &:hover {
        background-color: rgba(232, 223, 225, 0.86);
    }
}
.text {
    &:hover {
        text-decoration: underline;
    }
}
