.wrapper {
    display: flex;
    justify-content: space-evenly;
}
.left-vieos {
}
.video {
}
.right-chat {
}
.chat {
    margin-top: 190px;
    width: 600px;
    height: 550px;
    background-color: rgb(255, 255, 255);
}
